@model LogUser
<a href="/">Register</a>
<div class="text-center">
    <h1>Login to this Cool Site!</h1>
</div>
<form action="/user/login" method="post">
    <div class="form-group">
        <label for="LogEmail">Email</label>
        <input asp-for="LogEmail" class="form-control">
        <span asp-validation-for="LogEmail" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="LogPassword">Password</label>
        <input asp-for="LogPassword" class="form-control">
        <span asp-validation-for="LogPassword" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Login Now" class="btn btn-primary">
    </div>
</form>